{% extends 'adminapp/base.html' %}

{% block content %}
    <h1 class="mt-4">{{ title }}</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        {{ title }}
                    </div>
                <div class="card-footer">
                        <a href="{% url 'admins:admins_create' 'categories' %}">
                            <button class="btn btn-success">Добавить категорию</button>
                        </a>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">



                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                                                <tr>
                                    <th>Название</th>
                                    <th>Краткое описание</th>
                                    <th>slug</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Название</th>
                                    <th>Краткое описание</th>
                                    <th>slug</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for category in productcategory_list %}
                                     <tr>
                                        <td><a href="{% url 'admins:admins_update' 'categories' category.id %}" style="color: dodgerblue">{{ category.name }}</a></td>
                                        <td>{{ category.description}}</td>
                                        <td>{{ category.slug}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'admins:admins_create' 'categories' %}">
                            <button class="btn btn-success">Добавить категорию</button>
                        </a>
                    </div>
                </div>
{% endblock %}

